$wpal-background: #f8f8f8 !default;
$wpal-breakpoint: 750px !default;
$wpal-btn-color: #333 !default;
$wpal-btn-radius: 8px !default;
$wpal-content-margin: 6px !default;
$wpal-datas-color: #777  !default;
$wpal-font-size: 15px !default;
$wpal-font-size-lg: 16px !default;
$wpal-icon-width: 60px !default;
$wpal-icon-width-lg: 88px !default;
$wpal-margin: 24px !default;
$wpal-padding: 16px !default;
$wpal-radius: 16px !default;


.wpal{
  $class: #{&};

  // clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  background: $wpal-background;
  border-radius: $wpal-radius;
  font-size: $wpal-font-size;
  line-height: normal;

  margin: {
    top: $wpal-margin;
    bottom: $wpal-margin;
  }
  padding: $wpal-padding;

  a{
    text-decoration: none;
  }

  p{
    margin: 0 !important; // WordPress autop measures
  }

  &-icon{
    float: left;
    max-height: $wpal-icon-width;
    text-align: center;
    width: $wpal-icon-width;
  }

  &-software{

    #{$class}-icon{
      border-radius: 21%;
      overflow: hidden;
    }
  }

  &-content{
    margin-left: $wpal-padding + $wpal-icon-width;
  }

  &-title{
    font-weight: bold;
    margin-bottom: $wpal-content-margin;
  }

  &-datas{
    font-size: 0.85em;
    color: $wpal-datas-color;
    margin-bottom: $wpal-content-margin + 4px;
  }

  &-data{
    display: inline-block;
    margin-right: 1em;
  }


  &-btn{
    background: $wpal-btn-color;
    border-radius: $wpal-btn-radius;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 0.4375em 1em 0.5em;
    transition: 0.2s;
    font-size: 0.9em;
    border: 2px solid $wpal-btn-color;

    &:hover{
      background: transparent;
      color: $wpal-btn-color;
    }
  }

  &-screenshots{
    clear: both;
    border-top: 1px solid white;
    margin: $wpal-margin -1% -1%;

    figcaption{
      font-weight: bold;
      font-size: 0.85em;
      margin: 12px 1% 8px;
      color: #666;
    }

    img{
      width: 31.333%;
      margin: 1%;
    }
  }

  &-message {
    font-size: 12px;
    margin: 24px 0;
    padding: 8px;
    background: $wpal-background;
    color: #666;
  }


  @media screen and (min-width: $wpal-breakpoint){

    font-size: $wpal-font-size-lg;

    &-icon{
      max-height: $wpal-icon-width-lg;
      width: $wpal-icon-width-lg;
    }

    &-content{
      margin-left: $wpal-padding + $wpal-icon-width-lg;
    }

    &-title{
    }

    &-datas{
    }

    &-screenshots{
      margin: 20px -0.5% 0;

      figcaption{
        margin-left: 0.5%;
        margin-right: 0.5%;
      }

      img{
        width: 19%;
        margin: 0.5%;
      }
    }
  }
}
